In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [41]:
len(titles)

219468

### What are the earliest two films listed in the titles dataframe?

In [43]:
titles.sort_values('year').head(2)

                                                 title  year
167786                                      Miss Jerry  1894
117643  Reproduction of the Corbett and Jeffries Fight  1899

### How many movies have the title "Hamlet"?

In [85]:
len(titles[titles.title == 'Hamlet'])

19

### How many movies are titled "North by Northwest"?

In [86]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [49]:
titles[titles.title == 'Hamlet'].sort_values('year').year.head(1)

44150    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [52]:
titles[titles.title == 'Treasure Island'].sort_values('year').head(50)

                  title  year
194479  Treasure Island  1918
48458   Treasure Island  1920
196040  Treasure Island  1934
91607   Treasure Island  1950
56343   Treasure Island  1972
105253  Treasure Island  1973
193879  Treasure Island  1985
169311  Treasure Island  1999

### How many movies were made in the year 1950?

In [57]:
len(titles[titles.year == 1950])

1037

### How many movies were made in the year 1960?

In [58]:
len(titles[titles.year == 1960])

1480

### How many movies were made from 1950 through 1959?

In [59]:
len(titles[(titles.year >= 1950) & (titles.year < 1960 )])

12217

### In what years has a movie titled "Batman" been released?

In [87]:
titles[titles.title == 'Batman'].year

52923    1989
70508    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [61]:
len(cast[cast.title == 'Inception'])

76

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [62]:
len(cast[(cast.title == 'Inception') & (cast.n.isnull())])

25

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [64]:
len(cast[(cast.title == 'Inception') & (cast.n.notnull())])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [65]:
cast[(cast.title == 'North by Northwest') & (cast.n.notnull())].sort_values('n')

,title,year,name,type,character,n
798485,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3187662,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1334722,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2868833,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
325976,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2773835,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1553382,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1167585,North by Northwest,1959,Martin Landau,actor,Leonard,8
2239372,North by Northwest,1959,Adam Williams,actor,Valerian,9
1659136,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
609908,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2100778,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
425046,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1382171,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
187551,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1268252,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [66]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n')

,title,year,name,type,character,n
1562512,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
298383,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
341820,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1342243,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2486735,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1327088,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [67]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n')

          title  year                 name     type          character   n
298384   Sleuth  2007        Michael Caine    actor             Andrew   1
1184571  Sleuth  2007             Jude Law    actor               Milo   2
1654170  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
236919   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
341821   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2486734  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
3057471  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [68]:
len(cast[(cast.year == 1921) & (cast.title == 'Hamlet')])

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [69]:
len(cast[(cast.year == 1996) & (cast.title == 'Hamlet')])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [70]:
len(cast[cast.title == 'Hamlet'])

314

### How many people have played an "Ophelia"?

In [71]:
len(cast[cast.character == 'Ophelia'])

100

### How many people have played a role called "The Dude"?

In [72]:
len(cast[cast.character == 'The Dude'])

17

### How many people have played a role called "The Stranger"?

In [73]:
len(cast[cast.character == 'The Stranger'])

196

### How many roles has Sidney Poitier played throughout his career?

In [75]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [76]:
len(cast[cast.name == 'Judi Dench'])

53

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [77]:
cast[(cast.name == 'Cary Grant') & (cast.n == 2) & (cast.year >= 1940) & (cast.year < 1950)]

                   title  year        name   type    character  n
798482  My Favorite Wife  1940  Cary Grant  actor         Nick  2
798492    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [79]:
cast[(cast.name == 'Cary Grant') & (cast.n == 1) & (cast.year >= 1940) 
     & (cast.year < 1950)].sort_values('year')

,title,year,name,type,character,n
798507,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
798464,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
798509,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
798497,Suspicion,1941,Cary Grant,actor,Johnnie,1
798511,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
798488,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
798455,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
798480,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
798481,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
798489,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
798447,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
798484,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
798483,Night and Day,1946,Cary Grant,actor,Cole Porter,1
798486,Notorious,1946,Cary Grant,actor,Devlin,1
798503,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
798504,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
798479,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
798459,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
798468,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [80]:
len(cast[(cast.type == 'actor') & (cast.year >= 1950) & (cast.year < 1960)])

151661

### How many roles were avilable for actresses in the 1950s?

In [81]:
len(cast[(cast.type == 'actress') & (cast.year >= 1950) & (cast.year < 1960)])

55093

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [82]:
len(cast[(cast.year <= 1980) & (cast.n == 1)])

62564

### How many non-leading roles were available through from the beginning of film history through 1980?

In [83]:
len(cast[(cast.year <= 1980) & (cast.n <> 1)])

1071477

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [84]:
len(cast[(cast.year <= 1980) & (cast.n.isnull())])

427647

In [6]:
len(titles)

219468

In [11]:
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [20]:
titles.year.head() > 1985

0     True
1    False
2     True
3     True
4     True
Name: year, dtype: bool

In [28]:
titles[(titles.year < 1980) | (titles.year >= 1990)].head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [40]:
t = titles
t[t.title.str.contains('Macbeth')].groupby('title').agg('count')

                                        year
title
Dogg's Hamlet, Cahoot's Macbeth            1
Lady Macbeth                               1
Lady Macbeth von Mzensk                    1
Macbeth                                   15
Macbeth (II)                               5
Macbeth 3000: This Time, It's Personal     1
Macbeth in Manhattan                       1
Macbeth the Movie                          1
Macbeth-Sangrador                          1
Macbeth: The Comedy                        1
Never Say Macbeth                          1
Rave Macbeth                               1
The Tragedy of Macbeth                     2